<div class="sidebar">

    <div class="brand">

        <h3>🏦 VBP</h3>

        <p>Virtual Banking</p>

    </div>

    <div class="user-card">

        <img
        src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png">

        <h5>Sagar Patil</h5>

        <span>Premium Customer</span>

    </div>

    <div class="menu">

        <a routerLink="/dashboard">

            <i class="bi bi-grid"></i>

            Dashboard

        </a>

        <a routerLink="/deposit">

            <i class="bi bi-wallet2"></i>

            Deposit

        </a>

        <a routerLink="/withdraw">

            <i class="bi bi-cash-stack"></i>

            Withdraw

        </a>

        <a routerLink="/transfer">

            <i class="bi bi-arrow-left-right"></i>

            Transfer

        </a>

        <a routerLink="/transaction-history">

            <i class="bi bi-clock-history"></i>

            Transactions

        </a>

        <a routerLink="/profile">

            <i class="bi bi-person-circle"></i>

            Profile

        </a>

    </div>

</div>