<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="#">

            <i class="bi bi-bank"></i>

            Virtual Banking Platform

        </a>

        <div class="navbar-nav mx-auto">

            <a class="nav-link active" routerLink="/dashboard">

                <i class="bi bi-house-door"></i>

                Dashboard

            </a>

            <a class="nav-link" routerLink="/profile">

                <i class="bi bi-person"></i>

                Profile

            </a>

            <a class="nav-link" routerLink="/transactions">

                <i class="bi bi-list-ul"></i>

                Transactions

            </a>

        </div>

        <div class="text-white fw-bold">

            Welcome, Sagar 👋

        </div>

    </div>

</nav>